In [195]:
import pandas as pd
import requests
from io import BytesIO
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
measurements1 = pd.read_csv('https://raw.githubusercontent.com/samielzaret7/technical_challenge_DA/master/data/measurements.csv')

In [159]:
url = "https://github.com/samielzaret7/technical_challenge_DA/raw/master/data/measurements2.xlsx"
data = requests.get(url).content
measurements2 = pd.read_excel(BytesIO(data))

In [4]:
measurements1.nunique()

distance         174
consume           43
speed             60
temp_inside       13
temp_outside      33
specials          12
gas_type           2
AC                 2
rain               2
sun                2
refill liters     10
refill gas         2
dtype: int64

In [160]:
measurements2.nunique()

distance         174
consume           43
speed             60
temp_inside       13
temp_outside      33
specials          12
gas_type           2
AC                 2
rain               2
sun                2
refill liters     10
refill gas         2
dtype: int64

Both datasets are the same. We'll work with the second one.

In [172]:
measurements2['temp_inside'].isna().sum()

0

In [171]:
temp_inside_na = measurements2.query('`temp_inside`.isna()')
temp_inside_na

Empty DataFrame
Columns: [distance, consume, speed, temp_inside, temp_outside, specials, gas_type, AC, rain, sun, refill liters, refill gas]
Index: []

In [170]:
measurements2['temp_inside'].fillna(round(measurements2['temp_inside'].mean(),1),inplace=True)

/var/folders/l6/ynlhkqws5hv7wtyyn6rr6t4c0000gn/T/ipykernel_792/2835152.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  measurements2['temp_inside'].fillna(round(measurements2['temp_inside'].mean(),1),inplace=True)

In [173]:
measurements2.drop(columns=['specials','AC','rain','sun'],inplace=True)

According to Picture attached to dataset, E10 gas price was $1.38 and SP98 was $1.46

In [176]:
measurements2['Fuel Consumption']=(measurements2['consume']/100)*measurements2['distance']

In [177]:
measurements2['Price of Consumption'] = np.where(measurements2['gas_type'] == 'E10',
                                                 measurements2['Fuel Consumption'] * 1.38,
                                                 measurements2['Fuel Consumption'] * 1.46)

In [178]:
measurements2

,distance,consume,speed,temp_inside,temp_outside,gas_type,refill liters,refill gas,Fuel Consumption,Price of Consumption
0,28.0,5.0,26,21.5,12,E10,45.0,E10,1.4000,1.932000
1,12.0,4.2,30,21.5,13,E10,NaN,NaN,0.5040,0.695520
2,11.2,5.5,38,21.5,15,E10,NaN,NaN,0.6160,0.850080
3,12.9,3.9,36,21.5,14,E10,NaN,NaN,0.5031,0.694278
4,18.5,4.5,46,21.5,15,E10,NaN,NaN,0.8325,1.148850
...,...,...,...,...,...,...,...,...,...,...
383,16.0,3.7,39,24.5,18,SP98,NaN,NaN,0.5920,0.864320
384,16.1,4.3,38,25.0,31,SP98,NaN,NaN,0.6923,1.010758
385,16.0,3.8,45,25.0,19,SP98,NaN,NaN,0.6080,0.887680
386,15.4,4.6,42,25.0,31,SP98,NaN,NaN,0.7084,1.034264
387,14.7,5.0,25,25.0,30,SP98,NaN,NaN,0.7350,1.073100

In [179]:
df_e10 = measurements2[measurements2['gas_type'] == 'E10']

In [199]:
df_e10.to_csv('e10.csv')

In [181]:
df_sp98 = measurements2[measurements2['gas_type'] == 'SP98']

In [198]:
df_sp98.to_csv('sp98.csv')

In [183]:
total_distance_e10 = df_e10['distance'].sum()
total_fuel_e10 = df_e10['consume'].sum()

total_distance_sp98 = df_sp98['distance'].sum()
total_fuel_sp98 = df_sp98['consume'].sum()


average_fuel_consumption_e10 = total_fuel_e10 / total_distance_e10
average_fuel_consumption_sp98 = total_fuel_sp98 / total_distance_sp98

In [204]:
print(f'The average fuel consumption for E10 gasoline is {round(average_fuel_consumption_e10*100, 1)} and for SP98 {round(average_fuel_consumption_sp98*100, 1)}')

The average fuel consumption for E10 gasoline is 23.4 and for SP98 26.3

Based on the last calculation E10 gasoline consumes less than SP98, and is also less expensive.

In [203]:
measurements2.to_csv('measurements_clean.csv')